.item {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  width: 140px;
  .itemImage {
    border: 1px solid #322e32;
    padding: 10px;
    width: 140px;
    height: 140px;
    border-radius: 10px;
    object-fit: contain;
    margin-bottom: 6px;
  }
}
